<h2>Student Registration</h2>

<form action="/register_student" method="post">

Name<br>
<input name="name"><br>

Age<br>
<input name="age"><br>

Phone<br>
<input name="phone"><br>

District<br>
<input name="district"><br>

10th Mark<br>
<input name="mark10"><br>

12th Mark<br>
<input name="mark12"><br>

Preferred Course<br>

<select name="course">
<option>BSc</option>
<option>BCA</option>
<option>BCom</option>
<option>BA</option>
<option>BBA</option>
</select>

<br>

Maximum Annual Fee<br>
<input name="fee"><br>

Username<br>
<input name="username"><br>

Password<br>
<input type="password" name="password"><br><br>

<button type="submit">Register</button>

</form>
